<h1>Configuración</h1>

<p>Usted debe configurar su cuenta</p>
<p>
Alumno: XXX
</p>

<p>
Seleccionar una opción
<div class="well">
            
            <div class="input">
              <ul class="inputs-list">
                <li>
                  <label>
                    <input type="radio" checked name="optionsRadios" value="option1" />
                    <span>Si, deseo configurar mi cuenta para recibir notificaciones de disponibildiad de los estacionamientos</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="optionsRadios" value="option2" />
                    <span>No, no estoy interesado</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
</p>
<p>
<hr>
</p>
<p>
<section id="grid-system">

<div class="row show-grid" title="Half and half">
    <div class="span8">

 <legend><B>Seleccione los días</B></legend>
          <div class="clearfix">
            
            <div class="input">
              <ul class="inputs-list">
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option1" />
                    <span>Lunes</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" />
                    <span>Martes</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" />
                    <span>Miercoles</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" />
                    <span>Jueves</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" />
                    <span>Viernes</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" />
                    <span>Sabado</span>
                  </label>
                </li>
                <li>
                  <label class="disabled">
                    <input type="checkbox" name="optionsCheckboxes" value="option2" disabled />
                    <span>Domingo</span>
                  </label>
                </li>

              </ul>
              <span class="help-block">
                <strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
              </span>
            </div>
          </div><!-- /clearfix -->
    </div>
    <div class="span8">
    <br>
<B>Ingrese la Hora que sea recibir los mensajes</B>
<p>
 <div class="input">
              Hora: <select class="mini" name="mediumSelect" id="mediumSelect">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select> Minutos:<select class="mini" name="mediumSelect" id="mediumSelect">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
              Horario:<select class="mini" name="mediumSelect" id="mediumSelect">
                <option>AM</option>
                <option>PM</option>
                
              </select>
            </div>


</p>
<span class="help-block">la hora debe ser ingresada en formato 24 horas</span>

<div class="actions">
            <input type="submit" class="btn primary" value="Activar Notificacioesn">&nbsp;<button type="reset" class="btn">Cancelar</button>
          </div>


    </div>
</div><!-- /row -->
</section>
   

</p>
<hr>
<%= link_to "Atras","login" %>
