<h1>Login</h1>
<p>Ingresa tu Código de Alumno UPC</p>

<p>
	<div class="well">
		 <p>
		 	<div class="clearfix" style="position:relative; left:-100;">
		 	<label for="xlInput">Email Alumno: </label>
	            <div class="input">
	              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
	            </div>
            </div>
         </p>
        <a href="configuracion" class="btn large primary">Configurar</a>
        <a href="#" class="btn large">Cancelar</a>
  	</div>

</p>